{% if data %}
    {% set notice = constant('Sylius\\MolliePlugin\\Logger\\LoggerLevel::NOTICE') %}
    {% set error = constant('Sylius\\MolliePlugin\\Logger\\LoggerLevel::ERROR') %}

    {% if data == notice %}
        <div class="ui info horizontal label">{{ 'sylius_mollie.ui.info'|trans }}</div>
    {% elseif data == error %}
        <div class="ui red horizontal label">{{ 'sylius_mollie.ui.error'|trans }}</div>
    {% else %}
        <div class="ui black horizontal label">{{ 'sylius.ui.unknown'|trans }}</div>
    {% endif %}
{% endif %}
