{% extends '@SyliusAdmin/Form/theme.html.twig' %}

{% block form_help %}
    {% import '@SyliusAdmin/PaymentMethod/_mollie_docs.html.twig' as docs %}

    {% if help is not empty and help starts with 'sylius_mollie_plugin.help.' %}
        <div class="ui pointing label">
            {{ docs.doc(help) }}
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
