name: Build

on:
    push:
        branches-ignore:
            - 'upmerge/**'
    workflow_dispatch: ~
    pull_request: ~
    schedule:
        -   cron: "0 1 * * 6" # Run at 1am every Saturday

jobs:
    tests:
        runs-on: ubuntu-latest

        name: "Sylius ${{ matrix.sylius }}, PHP ${{ matrix.php }}, Symfony ${{ matrix.symfony }}, MySQL ${{ matrix.mysql }}"

        strategy:
            fail-fast: false
            matrix:
                php: [ "8.1" ]
                node: [ "18.x" ]
                mysql: [ "8.4" ]
                symfony: [ "^6.4" ]
                sylius: [ "~1.13.11", "~1.14.4" ]
                admin_order_creation: [ "no", "yes" ]

        env:
            APP_ENV: test
            DATABASE_URL: "mysql://root:root@127.0.0.1/sylius?serverVersion=${{ matrix.mysql }}"

        steps:
            -   uses: actions/checkout@v4

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: "${{ matrix.php }}"
                    extensions: intl
                    tools: symfony
                    coverage: none

            -   name: Setup Node
                uses: actions/setup-node@v4
                with:
                    node-version: "${{ matrix.node }}"

            -   name: Shutdown default MySQL
                run: sudo service mysql stop

            -   name: Setup MySQL
                uses: mirromutth/mysql-action@v1.1
                with:
                    mysql version: "${{ matrix.mysql }}"
                    mysql root password: "root"

            -   name: Output PHP version for Symfony CLI
                run: php -v | head -n 1 | awk '{ print $2 }' > .php-version

            -   name: Install certificates
                run: symfony server:ca:install

            -   name: Run Chrome Headless
                run: google-chrome-stable --enable-automation --disable-background-networking --no-default-browser-check --no-first-run --disable-popup-blocking --disable-default-apps --allow-insecure-localhost --disable-translate --disable-extensions --no-sandbox --enable-features=Metal --headless --remote-debugging-port=9222 --window-size=2880,1800 --proxy-server='direct://' --proxy-bypass-list='*' http://127.0.0.1 > /dev/null 2>&1 &

            -   name: Run webserver
                run: (cd tests/Application && symfony server:start --port=8080 --dir=public --daemon)

            -   name: Get Composer cache directory
                id: composer-cache
                run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

            -   name: Cache Composer
                uses: actions/cache@v4
                with:
                    path: ${{ steps.composer-cache.outputs.dir }}
                    key: ${{ runner.os }}-php-${{ matrix.php }}-composer-${{ hashFiles('**/composer.json **/composer.lock') }}
                    restore-keys: |
                        ${{ runner.os }}-php-${{ matrix.php }}-composer-

            -   name: Install Sylius version
                run: |
                    composer require "sylius/sylius:${{ matrix.sylius }}" --no-update

            -   name: Restrict Symfony version
                if: matrix.symfony != ''
                run: |
                    composer global config --no-plugins allow-plugins.symfony/flex true
                    composer global require --no-progress --no-scripts --no-plugins "symfony/flex:^1.17 || ^2.0"
                    composer config extra.symfony.require "${{ matrix.symfony }}"

            -   name: Restrict Sylius version
                if: matrix.sylius != ''
                run: composer require "sylius/sylius:${{ matrix.sylius }}" --no-update --no-scripts --no-interaction

            -   name: Install AdminOrderCreation plugin
                if: matrix.admin_order_creation == 'yes'
                run: composer require "sylius/admin-order-creation-plugin:~0.14.0 || ~0.15.0 || ~0.16.0" --no-update --no-scripts --no-interaction

            -   name: Install PHP dependencies
                run: composer install --no-interaction

            -   name: Run PHPStan
                run: vendor/bin/phpstan analyse

            -   name: Run ECS
                run: vendor/bin/ecs check

            -   name: Run unit tests
                run: vendor/bin/phpunit --colors=always --testsuite=unit

            -   name: Validate container
                run: (cd tests/Application && bin/console lint:container)

            -   name: Get Yarn cache directory
                id: yarn-cache
                run: echo "dir=$(yarn cache dir)" >> $GITHUB_OUTPUT

            -   name: Cache Yarn
                uses: actions/cache@v4
                with:
                    path: ${{ steps.yarn-cache.outputs.dir }}
                    key: ${{ runner.os }}-node-${{ matrix.node }}-yarn-${{ hashFiles('**/package.json **/yarn.lock') }}
                    restore-keys: |
                        ${{ runner.os }}-node-${{ matrix.node }}-yarn-

            -   name: Install JS dependencies
                run: (cd tests/Application && yarn install)

            -   name: Prepare test application database
                run: |
                    (cd tests/Application && bin/console doctrine:database:create -vvv)
                    (cd tests/Application && bin/console doctrine:migrations:migrate -n -vvv -q)

            -   name: Validate database schema
                run: (cd tests/Application && bin/console doctrine:schema:validate -vvv)

            -   name: Prepare test application assets
                run: |
                    (cd tests/Application && bin/console assets:install public -vvv)
                    (cd tests/Application && yarn build)

            -   name: Prepare test application cache
                run: (cd tests/Application && bin/console cache:warmup -vvv)

            -   name: Load fixtures in test application
                run: (cd tests/Application && bin/console sylius:fixtures:load -n)

            -   name: Run Mockoon CLI
                uses: mockoon/cli-action@v2
                with:
                    version: "latest"
                    data-file: tests/Functional/Mockoon.json
                    port: 8217

            -   name: Run Functional Tests
                run: vendor/bin/phpunit --colors=always --testsuite=functional

            -   name: Run Mockoon for Behat
                shell: bash
                run: |
                    npx mockoon-cli start --port=8218 --data tests/Behat/Mollie_Behat.json &

            -   name: Run Behat
                run: |
                    vendor/bin/behat --colors --strict -f progress -vvv --no-interaction || vendor/bin/behat --colors --strict -vvv --no-interaction --rerun

            -   name: Run AdminOrderCreation Behat
                if: matrix.admin_order_creation == 'yes'
                run: vendor/bin/behat --colors --strict -f progress -vvv --no-interaction --profile=admin_order_creation || vendor/bin/behat --colors --strict -vvv --no-interaction --profile=admin_order_creation --rerun

            -   name: Upload Behat logs
                uses: actions/upload-artifact@v4
                if: failure()
                with:
                    name: Behat logs - ${{ github.run_id }}-${{ github.run_number }}
                    path: |
                        etc/build/
                        var/log
                    if-no-files-found: ignore
                    overwrite: true
